<!-- About Section -->
    <section id="history">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Histoire</h2>
                    <h3 class="section-subheading text-muted">D'où vient cette idée bizarre ...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Novembre 2012</h4>
                                    <h4 class="subheading">Devoxx4Kids en Belgique</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">1ère édition de Devoxx4Kids en Belgique: une journée d'initiation à la programmation, l'électronique et la robotique.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Octobre 2013</h4>
                                    <h4 class="subheading">Devoxx4Kids à Genève</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Xavier Bourguignon organise la première édition de Devoxx4Kids à Genève avec 36 enfants inscrits !!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2014</h4>
                                    <h4 class="subheading">Réforme des rythmes scolaires</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">La réforme des rythmes scolaires, bien que fortement décriée, ouvre des opprtunités formidables pour créer des ateliers d'initiation à la programmation pour les enfants.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Septembre 2014</h4>
                                    <h4 class="subheading">Début des premiers ateliers Code'n'Kids à Dingy En Vuache</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">C'est parti avec 2 groupes de 12 enfants !</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Rejoinez
                                    <br>le 
                                    <br>mouvement!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>