<!-- Services Section -->
    <section id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pourquoi ?</h2>
                    <h3 class="section-subheading text-muted">Pourquoi apprendre la programmation aux enfants ?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Créativité</h4>
                    <p class="text-muted">Montrer aux enfants qu'il est possible de faire des choses plus créatives que regarder des vidéos sur Youtube ou lire des commentaires sur Faceook</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Apprendre</h4>
                    <p class="text-muted">Enseigner la programmation informatique, initier à la robotique et l'électronique, car le code est maintenant partout dans notre quotidien</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">S'amuser</h4>
                    <p class="text-muted">Parce que la programmation, c'est pas comme dans les films, on est pas obligé d'être barbu et enfermé dans le noir, c'est drôle et amusant !</p>
                </div>
            </div>
        </div>
    </section>